.online {
  margin-bottom: 70px;
  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 70px;
    max-width: 980px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 70px;
  }

  &__item {
    padding: 0 30px 26px;
  }

  &__item-img {
    display: flex;
    width: 100%;
    max-width: 100px;
    margin: -50px auto 0;
  }

  &__item-text {
    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .online {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      max-width: 550px;
    }
    &__item-text {
      font-size: 16px;
    }
  }
}
